html, body {
  height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: 7% auto auto;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "footer"
}

/* Header */
.header  {
  grid-area: header;
  background-color: green;
}

.navbar {
  width: 100%;
  box-shadow: 0 0 2px 1px #999;
  display: flex;
  flex-wrap: nowrap;
}

.navbar div {
  color: #fff;
  margin: 0 20px 0 10px;
  padding: 10px 5px;
  font-size: 20px;
}

.navbar div a {
  color: inherit;
  text-decoration: none;
}

.navbar div:hover {
  background-color: #a4a4a4;
}

.navbar .brand {
  margin-right: auto;
}

/* SideBar */
.sidebar {
  grid-area: sidebar;
  background-color: light-blue;
}

.sidebar-nav {
  padding-top: 2em;
  margin-left: 3em;
}

.sidebar-nav h3 {
  margin-bottom: -0.45em;
}

.sidebar-nav ul {
  display: inline;
}

.sidebar-nav ul li {
  list-style: none;
  margin: 0.75em 0;
}

.sidebar-nav ul li a {
  text-decoration: none;
}

/* Content | Portfolio Grid */

.content {
  grid-area: content;
}

.img-container {
  display: inline-block;
  margin: 2px;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 2px 1px #999;
  background-color: #f4f4f4;
}

.img-container img {
  height: 300px;
  width: inherit;
}

/* Footer */
.footer {
  grid-area: footer;
  background-color: grey;
}

@media only screen and (min-width: 500px) {
  .container {
    grid-template-columns: 20% auto;
    grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer"
  }

@media only screen and (min-width: 600px) {
  .container {
    grid-template-columns: 240px auto;
    grid-template-areas:
      "header header header"
      "sidebar content content"
      "footer footer footer"
  }

  /* */
}
